@import url("./layout.css");
@import url("./timeline.css");
@import url("./header.css");
@import url("./contextmenu.css");
@import url("./editors.css");
@import url("./loader-default.css");
@import url("./nodegraph.css");
@import url("./themes/entrance/entrance.css");

html {
	background-color: unset !important;
	user-select: none;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	transition: opacity 0.1s ease-in-out;
}
