.clip-editor {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.clip-editor-header {
	display: flex;
	height: 32px;
	align-items: center;
	flex: none;
	margin-bottom: 8px;
	padding: 0 8px;
}
.clip-editor-clip-name {
	width: 100%;
}
.clip-editor-close-button {
	aspect-ratio: 1 / 1;
	height: 24px;
	margin-left: 10px;
}
.clip-editor-edit-box {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

.note-editor-scroll-box {
	max-width: 100%;
	height: 100%;
	overflow: auto;
	display: flex;
}
.note-editor, .note-editor-piano {
	height: 2100px;
	flex: none;
}
.note-editor {
	--zoom: 1;
	width: calc(100% * var(--zoom));
}
.note-editor-piano {
	position: sticky;
	left: 0;
}
.note-editor-piano-key {
	stroke: black;
	fill: #222;
}
.note-editor-piano-text {
	font-size: 8px;
	text-anchor: start;
	dominant-baseline: hanging;
	fill: white;
}

.note-editor-beat-guide {
	vector-effect: non-scaling-stroke;
	stroke: black;
}
.note-editor-note-guide {
	vector-effect: non-scaling-stroke;
	stroke: black;
}

.note-editor-note-guide {
	fill: #111;
}

.note-editor-note-guide.note-0 {
	fill: #225;
}

.note-editor-note-guide.note-2,
.note-editor-note-guide.note-4,
.note-editor-note-guide.note-5,
.note-editor-note-guide.note-7,
.note-editor-note-guide.note-9,
.note-editor-note-guide.note-11 {
	fill: #222;
}

rect.note-editor-duration-guide {
	fill: #0008;
}
