
:root {
	--header-logo-size: 32px;
	
	--header-height: 256px;
}

#header {
	height: var(--header-height);
	display: grid;
	background: var(--background-color-level2);
	grid-template:
		"logo	wordmark	volume	.	.	.		vu" 32px
		".		.			slider	.	.	.		vu" 32px
		"buttons buttons	buttons	.	.	tempo	vu" var(--header-logo-size) / var(--header-logo-size) auto 128px auto auto 128px 32px;
	
	grid-template-columns: 32px auto
}

#header > .contextmenu-item-submenu .contextmenu-submenu {
	position: absolute;
	left: 0;
	top: 100%;
}

#header .contextmenu-item:hover {
	background: var(--background-color-level3);
}

#header .header-logo-square-wrapper {
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	font-weight: bold;
	grid-area: logo;
}
#header .wordmark {
	display: flex;
	align-items: center;
	user-select: none;
}