
:root {
	--header-logo-size: 32px;
	--header-height: 32px;
}

#header {
	grid-area: header;
	
	height: var(--header-height);
	display: grid;
	grid-template:
		"logo wordmark"
		/32px 1fr;
	
}

#header > .contextmenu-item-submenu .contextmenu-submenu {
	position: absolute;
	left: 0;
	top: 100%;
}

#header .contextmenu-item:hover {
	background: var(--background-color-level3);
}

#header .header-logo-square-wrapper {
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	font-weight: bold;
	grid-area: logo;
	cursor: pointer;
}
#header .wordmark {
	display: flex;
	align-items: center;
	user-select: none;
	grid-area: wordmark;
	margin-left: 8px;
}