
#app {
	position: absolute;
	inset: 0px;
	display: flex;
	flex-direction: column;
}

#header {
	grid-area: header;
}

#song {
	grid-area: song;
	height: 100%;
}

.box-animation {
	position: fixed;
	border: 1px solid gray;
	box-sizing: border-box;
}
