
#app {
	position: absolute;
	inset: 0px;
	display: flex;
	flex-direction: column;
}

#header {
	grid-area: header;
}

#song {
	grid-area: song;
	height: calc(100% - var(--header-height));
}

.box-animation {
	position: fixed;
	border: 1px solid gray;
	transition: all 0.3s linear;
	z-index: 1000;
	box-sizing: border-box;
}

.timeline-internal {
	display: flex;
	flex-direction: column;
	width: fit-content;
}
.timeline {
	overflow-x: auto;
	height: 100%;
}

.editor-modal-wrapper {
	position: fixed;
	inset: 0;
	z-index: 1000;
}
.editor-modal-content {
	z-index: 1000;
	position: absolute;
	inset: 20px;
	box-sizing: border-box;
	padding: 8px;
}
