
#app {
	position: absolute;
	inset: 0px;
	display: flex;
	flex-direction: column;
}

#header {
	grid-area: header;
}

#song {
	grid-area: song;
	height: calc(100% - var(--header-height));
}

.box-animation {
	position: fixed;
	border: 1px solid gray;
	transition: all 0.3s linear;
	z-index: 1000;
	box-sizing: border-box;
}
body:has(.box-animation) .editor-modal-wrapper {
	display: none;
}

.timeline-internal {
	display: flex;
	flex-direction: column;
	width: fit-content;
}
.timeline {
	overflow-x: auto;
	height: 100%;
}

.editor-modal {
	z-index: 1000;
	position: fixed;
	inset: 80px;
	box-sizing: border-box;
	padding: 8px;
	--drag-size: 20px;
	min-width: 500px;
	min-height: 400px;
}

.editor-modal-draggable {
	position: absolute;
	inset: -10px;
	pointer-events: none;
}
.editor-modal-drag-window {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 64px;
	height: 32px;
	z-index: 100;
}
.editor-modal-drag {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	pointer-events: auto;
}
.editor-modal-drag-n {
	cursor: n-resize;
	top: 0;
	height: var(--drag-size);
}
.editor-modal-drag-e {
	cursor: e-resize;
	right: 0;
	width: var(--drag-size);
}
.editor-modal-drag-s {
	cursor: s-resize;
	bottom: 0;
	height: var(--drag-size);
}
.editor-modal-drag-w {
	cursor: w-resize;
	left: 0;
	width: var(--drag-size);
}
.editor-modal-drag-n.editor-modal-drag-e {
	cursor: ne-resize;
}
.editor-modal-drag-s.editor-modal-drag-e {
	cursor: se-resize;
}
.editor-modal-drag-n.editor-modal-drag-w {
	cursor: nw-resize;
}
.editor-modal-drag-s.editor-modal-drag-w {
	cursor: sw-resize;
}
.editor-modal-content {
	display: contents;
}
