
#main-loader {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: gray;
	z-index: 100000;
	font-family: Arial, Helvetica, sans-serif;
	transition: opacity 1s ease-in-out;
}

body.loaded #main-loader {
	opacity: 0;
	pointer-events: none;
}