
:root {
	--track-info-width: 240px;
	--track-height: 128px;
	--beat-width: 64px;
	--timeline-height: 32px;
}

@keyframes track-move-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes track-move-down {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}

.timeline {
	position: relative;
}

.timeline-header {
	height: 32px;
	display: flex;
	z-index: 150;
	position: sticky;
	top: 0;
}

.timeline-header-buttons {
	display: flex;
	position: sticky;
	left: 0;
	width: var(--track-info-width);
}

.timeline-header-button {
	aspect-ratio: 1 / 1;
	cursor: pointer;
}

.song-cpu-usage {
	width: 150px;
	justify-self: end;
	position: absolute;
	right: 0;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 10px;
}

.song-cpu-usage-bar {
	width: 100%;
	height: 4px;
	background: gray;
	margin-right: 10px;
	position: relative;
}
.song-cpu-usage-bar:before {
	content: "";
	width: calc(var(--cpu) * 100%);
	height: 100%;
	background: white;
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
}

.timeline-header-ticks {
	cursor: pointer;
}
.timeline-header-ticks > * {
	pointer-events: none;
}
.timeline-header .big-tick, .timeline-header .little-tick {
	fill: black;
}

.timeline-playhead {
	position: absolute;
	transform: translateX(calc(var(--playbackTime) * var(--pixelsPerMeasure) + var(--track-info-width))) translateX(-50%);
	width: 3px;
	background: black;
	height: 100%;
	top: 0;
}

.timeline[playing] .timeline-playhead {
	transition: transform 100ms linear;
}

/* Tracks, and track adjustment */
.track {
	height: var(--track-height);
	display: flex;
	position: relative;
}
@keyframes track-drag-end {
	0% {
		z-index: 1000;
	}
	99% {
		z-index: 1000;
	}
	100% {
		z-index: unset;
	}
}
.track.is-dragging {
	z-index: 1000;
}
.track:not(.is-dragging) {
	animation: track-drag-end 0.2s linear;
}
.tracks {
	display: flex;
	flex-direction: column;
	width: fit-content;
	min-width: max(100%, 100vw);
}
.user-tracks {
	display: contents;
}


.track .track-info {
	display: flex;
	flex: none;
	width: var(--track-info-width);
	flex-direction: column;
	position: sticky;
	left: 0;
	z-index: 100;
}

.track-handle {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 5px;
}

.track.track-add {
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: sticky;
	left: 0;
	width: var(--track-info-width);
	z-index: 100;
}
.track.track-add::after {
	content: "Add track...";
}

/* Clips */
.clip-placements {
	position: relative;
	width: 100%;
}

.clip-placement-header {
	overflow: hidden;
	display: flex;
}
.clip-placement-header-name {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	display: inline-block;
	white-space: nowrap;
}


.clip-placement {
	position: absolute;
	left: calc(var(--time) * var(--pixelsPerMeasure));
	width: calc(var(--duration) * var(--pixelsPerMeasure) * (var(--loopCount) + 1));
	height: 100%;
}

.clip-placement:before {
	content: "";
	width: calc(var(--duration) * var(--pixelsPerMeasure) * var(--loopCount));
	height: 100%;
	display: inline-block;
	position: absolute;
	right: 0;
	background:
		repeating-linear-gradient(45deg, #0000 0px, #0002 0px, #0002 4px, #0000 4px, #0000 8px),
		linear-gradient(to right, #0008, #ff00fb36 2px);
	background-repeat: no-repeat, repeat;
	background-size: cover, calc(var(--duration) * var(--pixelsPerMeasure)) 10px;
	pointer-events: none;
}

.clip-placement:not(:hover) .clip-placement-extend-panel {
	opacity: 0;
}

.clip-placement-extend-panel {
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.clip-placement-extend-panel > * {
	width: 100%;
	height: 100%;
	position: relative;
}

.clip-placement-extend-duration {
	right: calc(var(--duration) * var(--pixelsPerMeasure) * var(--loopCount));
}

.note-clip-placement svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -10;
	overflow: visible;
}

.note-clip-placement .note {
	fill: #fffc;
}
