
:root {
	--track-info-width: 240px;
	--track-height: 128px;
	--beat-width: 64px;
	--timeline-height: 32px;
}

@keyframes track-move-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes track-move-down {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}

.timeline-header {
	height: 32px;
	display: flex;
	z-index: 100;
	position: sticky;
	top: 0;
}

.timeline-header-buttons {
	display: flex;
	position: sticky;
	left: 0;
	width: var(--track-info-width);
}

.timeline-header-button {
	aspect-ratio: 1 / 1;
	cursor: pointer;
}

.timeline-header .big-tick, .timeline-header .little-tick {
	fill: black;
}

/* Tracks, and track adjustment */
.track {
	height: var(--track-height);
	display: flex;
	position: relative;
}
@keyframes track-drag-end {
	0% {
		z-index: 1000;
	}
	99% {
		z-index: 1000;
	}
	100% {
		z-index: unset;
	}
}
.track.is-dragging {
	z-index: 1000;
}
.track:not(.is-dragging) {
	animation: track-drag-end 0.2s linear;
}
.tracks {
	display: flex;
	flex-direction: column;
	width: fit-content;
	min-width: max(100%, 100vw);
}
.user-tracks {
	display: contents;
}


.track .track-info {
	display: flex;
	width: var(--track-info-width);
	flex-direction: column;
	position: sticky;
	left: 0;
}

.track-handle {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 5px;
}

.track.track-add {
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: sticky;
	left: 0;
	width: var(--track-info-width);
}
.track.track-add::after {
	content: "Add track...";
}

.clip {
	
}
