
:root {
	--track-info-width: 240px;
	--track-height: 128px;
	--beat-width: 64px;
}

@keyframes track-move-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes track-move-down {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}

/* Tracks, and track adjustment */
.track {
	height: var(--track-height);
	display: flex;
	position: relative;
}
.track.is-dragging {
	z-index: 1000;
}
.tracks {
	display: flex;
	flex-direction: column;
	width: fit-content;
	min-width: 100vw;
}
.user-tracks {
	display: contents;
}


.track .track-info {
	display: flex;
	width: var(--track-info-width);
	flex-direction: column;
	position: sticky;
	left: 0;
}

.track-handle {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 5px;
}

.track.track-add {
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: sticky;
	left: 0;
	width: var(--track-info-width);
}
.track.track-add::after {
	content: "Add track...";
}

.clip {
	
}
