
:root {
	--track-info-width: 240px;
	--track-height: 128px;
	--beat-width: 64px;
}

/* Tracks, and track adjustment */
.track {
	height: var(--track-height);
	display: flex;
}
.track .track-info {
	display: flex;
	width: var(--track-info-width);
	flex-direction: column;
}

.track.track-add {
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.track.track-add::after {
	content: "Add track...";
}

.clip {
	
}
