@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("../../node_modules/bootstrap-icons/font/bootstrap-icons.css");

/* Colors */
:root {
	--accent-hue: 190deg;
	--background-color-level0: hsl(var(--accent-hue), 15%, 8%);
	--background-color-level1: hsl(var(--accent-hue), 15%, 12%);
	--background-color-level2: hsl(var(--accent-hue), 15%, 15%);
	--background-color-level3: hsl(var(--accent-hue), 15%, 20%);
	--text-color-level1: hsl(var(--accent-hue), 40%, 90%);
	--text-color-level2: hsl(var(--accent-hue), 25%, 70%);
	--text-color-level3: hsl(var(--accent-hue), 10%, 50%);
	--rounding-1: 10px;
	--rounding-2: 5px;
	--rounding-3: 2px;
	--drop-shadow: 0 2px 10px #0004;
}

body {
	font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
	background: var(--background-color-level1);
	color: var(--text-color-level1);
	font-size: 18px;
}

/* page styles */
#header {
	background: var(--background-color-level2);
}

.contextmenu,
.contextmenu-submenu {
	background: var(--background-color-level0);
	border-radius: 10px;
	box-shadow: var(--drop-shadow);
}

.header-logo-square-wrapper:hover {
	background: var(--background-color-level3);
}

.header-logo-square-wrapper:after {
	font-family: bootstrap-icons;
	content: "\F5D3"; /* three-dots icon */
}

.contextmenu-item-submenu {
	padding-right: 30px;
}

.contextmenu-item-submenu:after {
	font-family: bootstrap-icons;
	content: "\F231";
	font-size: 12px;
	position: absolute;
	right: 5px;
}

@keyframes hourglass-dance {
	0% {
		transform: rotate(0deg);
		content: "\F420";
	}
	30% {
		transform: rotate(0deg);
		content: "\F41F";
	}
	60% {
		transform: rotate(0deg);
		content: "\F41F";
	}
	70% {
		transform: rotate(-15deg);
		content: "\F41E";
	}
	90% {
		transform: rotate(190deg);
		content: "\F41E";
	}
	100% {
		transform: rotate(180deg);
		content: "\F41E";
	}
}

@keyframes notes-dance {
	0% {
		transform: translateY(0px);
	}
	60% {
		transform: translateY(0px);
	}
	70% {
		transform: translateY(-10px);
	}
	75% {
		transform: translateY(-10px);
	}
	80% {
		transform: translateY(10px);
	}
	85% {
		transform: translateY(-8px);
	}
	90% {
		transform: translateY(5px);
	}
	95% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0px);
	}
}

#main-loader {
	background: var(--background-color-level1);
}

#main-loader-spinner {
	font-size: 60px;
	margin-bottom: 20px;
	display: flex;
	position: relative;
}

#main-loader-spinner:before, #main-loader-spinner:after {
	font-family: bootstrap-icons;
	position: relative;
}

#main-loader:before { /* hourglass */
	content: "\F421";
	font-family: bootstrap-icons;
	animation: hourglass-dance 2s ease-in-out infinite;
	animation-delay: 0s;
	font-size: 40px;
	position: relative;
	left: 80px;
	top: 20px;
}

#main-loader-spinner:after {
	content: "\F4A0";
	animation: notes-dance 2s ease-in-out infinite;
	animation-delay: -0.2s;
}

#main-loader-spinner:before {
	animation: notes-dance 2s ease-in-out infinite;
	animation-delay: -0.4s;
	content: "\F49E";
}

#main-loader-text {
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 500;
}


/** Tracks **/
.track {
	background: var(--background-color-level0);
	border-bottom: 1px solid var(--background-color-level3);
	box-sizing: border-box;
}

.track.track-add:after {
	font-family: bootstrap-icons;
	content: "\F4FE";
	font-size: 32px;
	color: var(--background-color-level3);
}

.track .track-info {
	background: var(--background-color-level3);
	border-top: 1px solid var(--background-color-level0);
	box-sizing: border-box;
	padding: 5px;
}

.track-name {
	appearance: none;
	border: none;
	background: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	padding: 0;
	margin: 0;
}

.track-type {
	user-select: none;
	font-size: 10px;
	color: var(--text-color-level2);
}