@import url("../../node_modules/bootstrap-icons/font/bootstrap-icons.css");

/* Colors */
:root {
	--accent-hue: 190deg;
	--background-color-level0: hsl(var(--accent-hue), 15%, 8%);
	--background-color-level1: hsl(var(--accent-hue), 15%, 12%);
	--background-color-level2: hsl(var(--accent-hue), 15%, 15%);
	--background-color-level3: hsl(var(--accent-hue), 15%, 20%);
	--text-color-level1: hsl(var(--accent-hue), 40%, 90%);
	--text-color-level2: hsl(var(--accent-hue), 30%, 37%);
	--rounding-1: 10px;
	--rounding-2: 5px;
	--rounding-3: 2px;
	--drop-shadow: 0 2px 10px #0004;
}

/* page styles */
#header {
	background: var(--background-color-level2);
}

.contextmenu,
.contextmenu-submenu {
	background: var(--background-color-level0);
	border-radius: 10px;
	box-shadow: var(--drop-shadow);
}

.header-logo-square-wrapper:after {
	font-family: bootstrap-icons;
	content: "\F5D3"; /* three-dots icon */
}

.contextmenu-item-submenu {
	padding-right: 30px;
}

.contextmenu-item-submenu:after {
	font-family: bootstrap-icons;
	content: "\F231";
	font-size: 12px;
	position: absolute;
	right: 5px;
}
