@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("../../../node_modules/bootstrap-icons/font/bootstrap-icons.css");

/* Colors */
:root {
	--accent-hue: 190deg;
	--background-color-level0: hsl(var(--accent-hue), 15%, 8%);
	--background-color-level1: hsl(var(--accent-hue), 15%, 12%);
	--background-color-level2: hsl(var(--accent-hue), 15%, 15%);
	--background-color-level3: hsl(var(--accent-hue), 15%, 20%);
	--text-color-level1: hsl(var(--accent-hue), 40%, 90%);
	--text-color-level2: hsl(var(--accent-hue), 25%, 70%);
	--text-color-level3: hsl(var(--accent-hue), 10%, 50%);
	--rounding-1: 10px;
	--rounding-2: 5px;
	--rounding-3: 2px;
	--drop-shadow: 0 2px 10px #0004;
}

body {
	font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
	background: var(--background-color-level1);
	color: var(--text-color-level1);
	font-size: 18px;
}

/* page styles */
#header {
	background: var(--background-color-level2);
}

button {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	appearance: none;
	background: none;
	border: none;
	padding: 0;
	font-size: 18px;
	color: var(--text-color-level3);
}
button:hover {
	color: var(--text-color-level1);
}
button:active {
	opacity: 0.8;
}

.clip-editor-close-button:before {
	content: "\F659";
	font-family: bootstrap-icons;
}

@keyframes contextmenu-open {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.contextmenu,
.contextmenu-submenu {
	background: var(--background-color-level0);
	border-radius: 10px;
	box-shadow: var(--drop-shadow);
	animation: contextmenu-open 0.2s ease-in-out;
}

.header-logo-square-wrapper:hover {
	background: var(--background-color-level3);
}

.header-logo-square-wrapper:after {
	font-family: bootstrap-icons;
	content: "\F5D3"; /* three-dots icon */
}

.contextmenu-item-submenu {
	padding-right: 30px;
}

.contextmenu-item-submenu:after {
	font-family: bootstrap-icons;
	content: "\F231";
	font-size: 12px;
	position: absolute;
	right: 5px;
}

@keyframes hourglass-dance {
	0% {
		transform: rotate(0deg);
		content: "\F420";
	}
	30% {
		transform: rotate(0deg);
		content: "\F41F";
	}
	60% {
		transform: rotate(0deg);
		content: "\F41F";
	}
	70% {
		transform: rotate(-15deg);
		content: "\F41E";
	}
	90% {
		transform: rotate(190deg);
		content: "\F41E";
	}
	100% {
		transform: rotate(180deg);
		content: "\F41E";
	}
}

@keyframes notes-dance {
	0% {
		transform: translateY(0px);
	}
	60% {
		transform: translateY(0px);
	}
	70% {
		transform: translateY(-10px);
	}
	75% {
		transform: translateY(-10px);
	}
	80% {
		transform: translateY(10px);
	}
	85% {
		transform: translateY(-8px);
	}
	90% {
		transform: translateY(5px);
	}
	95% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0px);
	}
}

#main-loader {
	background: var(--background-color-level1);
}

#main-loader-spinner {
	font-size: 60px;
	margin-bottom: 20px;
	display: flex;
	position: relative;
}

#main-loader-spinner:before, #main-loader-spinner:after {
	font-family: bootstrap-icons;
	position: relative;
}

#main-loader:before { /* hourglass */
	content: "\F421";
	font-family: bootstrap-icons;
	animation: hourglass-dance 2s ease-in-out infinite;
	animation-delay: 0s;
	font-size: 40px;
	position: relative;
	left: 80px;
	top: 20px;
}

#main-loader-spinner:after {
	content: "\F4A0";
	animation: notes-dance 2s ease-in-out infinite;
	animation-delay: -0.2s;
}

#main-loader-spinner:before {
	animation: notes-dance 2s ease-in-out infinite;
	animation-delay: -0.4s;
	content: "\F49E";
}

#main-loader-text {
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 500;
}

.editor-modal-wrapper {
	background: #0009;
}
.editor-modal-content {
	border: 1px solid var(--background-color-level0);
	background: var(--background-color-level1);
	box-shadow: 0 2px 10px #0008;
	border-radius: 10px;
}

/** Timeline **/
.timeline-header {
	background: var(--background-color-level1);
	border-bottom: 1px solid var(--background-color-level3);
}

.timeline-header-buttons {
	box-sizing: border-box;
	padding: 5px;
	background: linear-gradient(to right, var(--background-color-level1) -20%, transparent);
}

.song-cpu-usage-bar {
	width: 100%;
	height: 4px;
	background: gray;
	margin-right: 10px;
	position: relative;
	overflow: hidden;
	border-radius: 2px;
}
.song-cpu-usage-bar:before {
	background: currentColor;
	transition: width 0.1s ease-in-out;
}

.timeline-header-button:after {
	font-family: 'bootstrap-icons';
}
.timeline-header-button-play:after {
	content: "\F4F5";
}
.timeline-header-button-pause:after {
	content: "\F4C4";
}

.timeline-header-ticks {
	color: var(--text-color-level3);
	font-size: 13px;
	user-select: none;
}
.timeline-header .big-tick {
	fill: var(--background-color-level3);
}
.timeline-header .little-tick {
	fill: var(--background-color-level2);
}

.timeline .timeline-playhead,
.timeline .timeline-header-playhead {
	background: linear-gradient(to right, transparent, var(--text-color-level1), transparent);
	transition-property: transform, background-color !important;
}

.timeline:not([playing]) .timeline-playhead,
.timeline:not([playing]) .timeline-header-playhead {
	background-color: var(--text-color-level1);
}


/** Tracks **/
.track {
	background: var(--background-color-level0);
	/*border-bottom: 1px solid var(--background-color-level3);*/
	box-sizing: border-box;
	transition: 0.2s ease-in-out;
	transition-property: opacity, box-shadow, transform;
}
.track.is-dragging {
	opacity: 0.7;
	box-shadow: 0 10px 20px #0008;
	transition-property: opacity, box-shadow;
}
.track.track-add {
	border: 1px solid var(--background-color-level3);
}
.track.track-add:after {
	font-family: bootstrap-icons;
	content: "\F4FE";
	font-size: 32px;
	color: var(--background-color-level3);
}
.track:before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	content: "";
	background: var(--background-color-level3);
}

.track .track-info {
	background: var(--background-color-level3);
	border-top: 1px solid var(--background-color-level0);
	box-sizing: border-box;
	padding: 5px;
}

.track-name:not(:focus) {
	cursor: pointer;
}
.track-name {
	appearance: none;
	border: none;
	background: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	padding: 0;
	margin: 0;
}

.track-type {
	user-select: none;
	font-size: 10px;
	color: var(--text-color-level2);
}


.track-handle:after {
	font-family: bootstrap-icons;
	content: "\F3FD";
	cursor: grab;
	color: var(--text-color-level2);
}

.node-graph-button {
	cursor: pointer;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.node-graph-button:after {
	font-family: bootstrap-icons;
	content: "\F2EC";
}

/** Clips **/
.clip-placement {
	background: linear-gradient(to bottom, hsl(var(--clip-hue), 30%, 20%), hsl(var(--clip-hue), 80%, 30%), hsl(var(--clip-hue), 100%, 20%));
	border-radius: 5px;
	z-index: 0;
}
.clip-placement canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.clip-placement:after {
	content: "";
	position: absolute;
	box-shadow: 0 0 2px 1px inset black,
				0 0 4px 0px inset #fff7;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.clip-placement-header {
	background: linear-gradient(to bottom, hsl(var(--clip-hue), 100%, 90%), hsl(var(--clip-hue), 100%, 80%));
	font-size: 11px;
	color: black;
	font-weight: 600;
	padding: 0 3px;
	box-sizing: border-box;
	text-shadow: 0 1px 1px #fff5;
	border-radius: 2px;
	cursor: grab;
}

.clip-placement-extend-panel > * {
	cursor: grab;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000c;
	border-radius: 8px 0 0 8px;
}
.clip-placement-extend-panel > *:after {
	font-family: bootstrap-icons;
	font-size: 12px;
}
.clip-placement-extend-loop:after {
	content: "\F116";
}
.clip-placement-extend-duration:after {
	content: "\F6AA"
}
.clip-placement-extend-loop {
    background: #80c9;
}
.clip-placement-extend-duration {
	background: #ca09;
}

/** Generic clip editor */
.clip-editor-clip-name {
	padding: 0;
	appearance: none;
	font-family: inherit;
	font-size: inherit;
	background: none;
	color: inherit;
	border: none;
}

/** Node graph */
.input-node .dropdown-wrapper {
	position: relative;
}

.input-node .dropdown-wrapper select {
	border: calc(2 * var(--unit)) solid var(--background-color-level2);
	margin-top: calc(5 * var(--unit));
	padding: 0 calc(10 * var(--unit));
	padding-right: calc(40 * var(--unit));
	border-radius: calc(4 * var(--unit));
}

.input-node .dropdown-wrapper:after {
	font-family: bootstrap-icons;
	content: "\F229";
	position: absolute;
	right: calc(10 * var(--unit));
	font-size: calc(8 * var(--unit));
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}